In [18]:
import pandas as pd

In [19]:
df = pd.read_excel('Vendas.xlsx')
df.head()

,Data,ID Loja,Produto,Quantidade,Valor Unit치rio,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300
3,2019-12-01,Iguatemi Campinas,Bermuda Listrado,3,163,489
4,2019-12-01,Iguatemi Campinas,Bermuda Linho,3,195,585

In [20]:
# VALOR TOTAL VENDIDO
VALOR_TOTAL_VENDIDO = df['Valor Final'].sum()
VALOR_TOTAL_VENDIDO

55895

In [21]:
# VALOR VENDIDO POR LOJA
VALOR_VENDIDO_POR_LOJA = df.groupby('ID Loja')['Valor Final'].sum().sort_values(ascending = False)
VALOR_VENDIDO_POR_LOJA

ID Loja
Iguatemi Campinas             41720
Bourbon Shopping SP            4386
Norte Shopping                 4322
Center Shopping Uberl칙ndia     2994
Iguatemi Esplanada             2473
Name: Valor Final, dtype: int64

In [22]:
#VALOR_VENDIDO_POR_PRODUTO
VALOR_VENDIDO_POR_PRODUTO = df.groupby('Produto')['Valor Final'].sum().sort_values(ascending=False)
VALOR_VENDIDO_POR_PRODUTO

Produto
Bermuda Liso        36581
Bermuda Xadrez       4340
Bermuda Listrado     4075
Bermuda Linho        3900
Bermuda Estampa      3549
Bermuda              3450
Name: Valor Final, dtype: int64

In [43]:
#PRODUTO_VENDIDO_POR_LOJA
PRODUTO_VENDIDO_POR_LOJA = df.groupby(['ID Loja', 'Produto'])['Valor Final'].sum()
PRODUTO_VENDIDO_POR_LOJA

ID Loja                     Produto
Bourbon Shopping SP         Bermuda               750
                            Bermuda Estampa      1183
                            Bermuda Linho         195
                            Bermuda Listrado     1793
                            Bermuda Xadrez        465
Center Shopping Uberl칙ndia  Bermuda Estampa       338
                            Bermuda Linho         780
                            Bermuda Listrado      326
                            Bermuda Xadrez       1550
Iguatemi Campinas           Bermuda              1200
                            Bermuda Estampa       845
                            Bermuda Linho        1170
                            Bermuda Liso        36581
                            Bermuda Listrado     1304
                            Bermuda Xadrez        620
Iguatemi Esplanada          Bermuda               150
                            Bermuda Estampa       338
                            Bermuda Linho        1365
                            Bermuda Xadrez        620
Norte Shopping              Bermuda              1350
                            Bermuda Estampa       845
                            Bermuda Linho         390
                            Bermuda Listrado      652
                            Bermuda Xadrez       1085
Name: Valor Final, dtype: int64